body {
    background: #f6f6ef;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

$button-color: white;
$button-background: #fbd14b;

* html .clearfix {
    zoom: 1;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
    color: #333;
}


/* IE6 */

*:first-child+html .clearfix {
    zoom: 1;
}

header {
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

hr {
  border: 0;
  border-bottom: solid 1px;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

button,
input[type=submit]{
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background-color: $button-background;
    color: $button-color;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;

    &:hover {
        background-color: #ffd758;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        background-color: #ffd758;
    }
}


main {
  padding: 4% 2%;
}

a.about {
  margin-bottom: 20px;
  margin-right: 20px;
  float: right;
}


section.intro {
    text-align: center;
    line-height: 1.5em;
    position: fixed;
    width: 98%;
    height: 95%;
    z-index: 2;
    max-width: 500px;
    max-height: 500px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: white;
    border-radius: 4px;
    transition: opacity 0.5s 0.3s, visibility 0s 0.5s;

    @media only screen and (max-height: 500px) {
        overflow-y: scroll;
    }

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 5%;
        overflow-y: auto;
        max-width: 400px;
        text-align: left;
        margin: 0 auto;

        @media only screen and (min-height: 500px) {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 100%;
        }

        @media only screen and (min-width: 500px) {
            justify-content: center;
        }
    }

    h1 {
        &.warning {
            text-decoration: underline;
        }

        &.title {
            font-weight: bolder;
        }
    }

    button.sound {
        width: 80px;
        height: 80px;
        margin-top: 30px;
        margin-bottom: 10px;
        padding:5px;
        cursor: pointer;
        position: relative;
        background-color: white;
        background-size: 40px 40px;
        background-image: url(../images/headphone.svg);
        background-repeat: no-repeat;
        background-position: 20px 5px;
        flex-shrink: 0;
        color: $button-background;

        &.off:before {
            content: 'X';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            color: #ff4e50;
            font-size: 2.6em;
        }

        &:after {
            content: attr(data-sound);
            position: absolute;
            bottom: 5px;
            left: 50%;
            width: 100px;
            transform: translateX(-50%);
        }
    }

    span.sound {
        display: block;
        height: auto;

        &.on {
            height: 0;
            overflow: hidden;
        }
    }

    button.begin {
        flex-shrink: 0;
        margin-top: 10px;
        padding: 20px;
    }
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.5;
    top: 0;
    z-index: 1;
    left: 0;
    background-color: black;
    transition: opacity 0.5s 0.3s, visibility 0s 0.5s;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}

section.adventure {
    font-size: 1.2em;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    line-height: 1.5em;
    max-width: 700px;
    margin: 0 auto 60px;
    padding: 5% 5%;
    position: relative;



    @media only screen and (min-width: 500px) {
        padding: 50px 50px;
    }

    h1 {
        font-size: 1.6em;
        margin-bottom: 20px;
    }

    .subStories {
        margin: 20px 0 40px;

        font-family: 'PT Serif', serif;

        div.sound { float: left; }

        span.choice {
            font-weight: bold;
            margin: 20px 0;
            transition: opacity 1s 0.1s;
            display: block;
            opacity: 0;
            font-family: 'PT Sans', sans-serif;

            &.hidden {
                opacity: 0;
            }

            &.visible {
                opacity: 1;
            }
        }

        p {
            white-space: pre-line;
            transition: opacity 1s;
            opacity: 0;

            &.visible {
                opacity: 1;
            }

            span {
                display: block;
                float: left;
                width: 100px;
                height: 112px;
                text-align: center;
                font-size: 4em;
                vertical-align: middle;
                line-height: 1.4em;
                border: 1px solid black;
                margin-right: 6px;
                border-radius: 3px;
            }
        }
    }

    nav {
        display: flex;
        justify-content: space-around;

        button {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            max-width: 200px;
            width: 48%;

            &.hidden {
                opacity: 0;
                transition: opacity 0.6s 0.25s;
            }
        }
    }
}

.result {
    text-align: center;

    &.hidden { display: none;}

    h1,
    p {margin-bottom: 20px;}

    button { padding: 20px; }
}

section.author {
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    line-height: 1.5em;
    max-width: 700px;
    margin: 0 auto;
    padding: 5% 5%;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &.hidden { display: none;}

    img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        max-width: 250px;
        margin-bottom: 20px;
        transition: transform 3s;

        &:hover {
            transform: rotate(360deg);
        }
    }

    @media only screen and (min-width: 500px) {
        flex-wrap: nowrap;
        align-items: center;

        img {
          margin-right: 20px;
        }
    }
}

section.newsletter {
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    line-height: 1.5em;
    max-width: 700px;
    margin: 0 auto 50px;
    padding: 30px 5%;
    display: block;

    &.hidden { display: none;}

    h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        margin-bottom: 15px;
    }

    label {
      display: none;
    }
    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    :-moz-placeholder {
        font-size: 100%;
    }

    #mc_embed_signup_scroll {
        display: flex;

        @media only screen and (max-width: 500px) { flex-direction: column; }
    }

    .mc-field-group {
        width: 100%;
    }

    input[type=email] {
        border: solid 1px black;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        max-width: 700px;
        height: 62px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        border-radius: 4px;

        @media only screen and (min-width: 500px) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
            margin-bottom: 20px;
        }
    }

    div[aria-hidden=true] { display: none; }
    input[type=submit] {
        padding: 20px;
        width: 100%;

        @media only screen and (min-width: 500px) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

a.about {
    display: block;
}

